#content {
    padding: 20px 10% 100px;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Open Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #555;
    text-rendering: optimizelegibility;
}

html, body {
    font-size: 15px;
}

a.ui.tiny.image img {
    max-height: 100px;
}

.item {
    padding: 10px 0;
}